div{
    height: 200px;
    width: 200px;
    text-align: center;
}
table{
    background-color: grey;
    padding: 10px;
    justify-content: center;
    text-align: center;
}
body{
    background-color: grey;
    justify-content: center;
    text-align: center;
}